alexsubramanian.com {
    handle /v1/update {
        reverse_proxy watchtower:8080
    }

    handle {
        root * /srv/site
        file_server
        encode gzip
    }

    tls /etc/caddy/certs/cert.pem /etc/caddy/certs/key.pem

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
        -Server
    }

    log {
        output file /var/log/caddy/access.log
        format json
    }
}

www.alexsubramanian.com {
    tls /etc/caddy/certs/cert.pem /etc/caddy/certs/key.pem
    redir https://alexsubramanian.com{uri} permanent
}
